.product-card {
  max-height: 500px;
}

.product-card > .card-body {
  overflow-y: auto;
}

.nav-link-active {
  color: black;
  font-weight: 600;
}

.nav-link-pending {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
