.home-page img {
  box-shadow: -3px 3px 13px 2px rgba(0, 0, 0, 0.4);
}

.product-card {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
}

.product-card:hover {
  scale: 1.05;
  translate: 0 -5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.product-card .card-img-top {
  height: 250px;
  object-fit: contain;
  object-position: center;
}

.detail-section .img-container {
  box-shadow: -3px 3px 13px 2px rgba(0, 0, 0, 0.3);
}
