.product-card .card-img-top {
  height: 250px;
  object-fit: contain;
  object-position: center;
}

.nav-link-active {
  color: black;
  font-weight: 600;
}

.nav-link-pending {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.product-card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
